$black: #111;
$silver: #bbb;
$gray: #444;
$white: #fafafa;
$offwhite: #eee;

// Dark mode
@media (prefers-color-scheme: dark) {
  html { filter: invert(100%); }
  img { filter: invert(100%); }

  #header {
    color: $black;
    background-color: $silver;
  }
}

.website-content {
  h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
  }

  h1 {
    font-size: 42px;
    // line-height: 66px;
    line-height: 50px;
  }

  h2 {
    font-size: 33px;
    line-height: 53px;
  }

  h3 {
    font-size: 26px;
    line-height: 42px;
  }

  p {
    font-size: 16px;
    line-height: 28px;
    margin: 15px 0px;
  }

  a {
    text-decoration: underline;
  }

  img {
    display: block;
    margin: auto;
    border-radius: 5px;
    max-width: 100%;
  }

  blockquote {
    font-style: italic;
    margin-left: inherit;
    padding-left: 20px;
    border-left: 4px solid $gray;
  }

  pre, code {
    border: 1px solid $silver;
    border-radius: 5px;
    font-family: Monaco, Consolas, monospace;
    font-size: 14px;
  }

  pre {
    margin: 10px 0px;
    padding: 10px;
    overflow-x: auto;
  }

  code {
    padding: 2px 4px;
  }

  pre code {
    border: 0;
    padding: 0;
    font-size: 15px;
  }

  li {
    margin-left: 20px;
    margin-bottom: 10px;
    list-style-type: disc;
  }

  hr {
    background-color: $silver;
    height: 2px;
    border: none;
  }

  .zola-anchor {
    color: $silver;
    text-decoration: none;
    margin-left: 10px;
    &:hover { text-decoration: underline; }
  }
}
