<!doctype html>
<html>

<head lang="en">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ config.extra.title }}</title>
  <link rel="stylesheet" href="{{ get_url(path="new.css") | safe }}"/>
  <link rel="stylesheet" href="{{ get_url(path="base.css") | safe }}"/>
</head>

<body>
  <header>
    <h3>{{ config.extra.title }}</h1>
    <ul>
      {% for nav in config.extra.nav %}
      <li><a href="{{ nav.url }}">{{ nav.name }}</a></li>
      {% endfor %}
    </ul>
  </header>
  {% block content %}{% endblock content %}
</body>

</html>
