<!doctype html>
<html>

<head lang="en">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{{ config.title }}{% endblock title %}</title>
  <link rel="stylesheet" href="{{ get_url(path="normalize.css") | safe }}"/>
  <link rel="stylesheet" href="{{ get_url(path="base.css") | safe }}"/>
</head>

<body>
  <header>
    <a href="/">{{ config.title }}</a>
  </header>
  {% block content %}{% endblock content %}
</body>

</html>
