{% set env = get_env(name="NODE_ENV", default="production") %}

<!doctype html>
<html>

<head lang="en">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{{ config.title }}{% endblock title %}</title>
  {% if env == "production" %}
    <link rel="stylesheet" href="{{ get_url(path="tailwind.min.css") | safe }}"/>
  {% else %}
    <link rel="stylesheet" href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"/>
  {% endif %}
  <link rel="stylesheet" href="{{ get_url(path="base.css") | safe }}"/>
  {% block rss %}
    <link rel="alternate" type="application/atom+xml" href="{{ get_url(path="atom.xml", trailing_slash=false) }}">
  {% endblock %}
</head>

<body class="max-w-prose mx-auto px-4 mb-8">
  <a href="/">
    <header class="
      website-header
      px-4 pt-8 pb-2
      inline-block
      bg-gradient-to-b from-indigo-700 to-purple-500
      text-white font-bold
    ">
      {{ config.title }}
    </header>
  </a>
  <div class="website-content my-8">
  {% block content %}{% endblock content %}
  </div>
  <footer class="website-footer my-8 text-center text-gray-500">
    <ul>
      <!-- TODO: Re-enable feed once there's at least one blog post -->
      <!-- <li class="inline mx-2"><a href="/atom.xml">Feed</a></li> -->
      <li class="inline mx-2"><a href="/key.txt">PGP Key</a></li>
    </ul>
  </footer>
</body>

</html>
